
body {
    background-image: url("/images/background.jpg");
    background-size: auto;
}


div.journalpage {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(12, 25, 143);
    

}

h1 {
    color: rgb(13, 21, 16);
}

div.blocks {
    display: flex;
    flex-direction: column;
    background-color:rgba(185, 151, 40, 0.6);
    margin-left: 20%;
    margin-right: 20%;

    
    font-size: 40px;
    color: rgb(19, 12, 2);
    
}
    
    
    
